# Pandas file handling

In [1]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [2]:
print(df.head(10))

   #                       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1                  Bulbasaur  Grass  Poison  45      49       49       65
1  2                    Ivysaur  Grass  Poison  60      62       63       80
2  3                   Venusaur  Grass  Poison  80      82       83      100
3  3      VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4                 Charmander   Fire     NaN  39      52       43       60
5  5                 Charmeleon   Fire     NaN  58      64       58       80
6  6                  Charizard   Fire  Flying  78      84       78      109
7  6  CharizardMega Charizard X   Fire  Dragon  78     130      111      130
8  6  CharizardMega Charizard Y   Fire  Flying  78     104       78      159
9  7                   Squirtle  Water     NaN  44      48       65       50

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False
5       65     80           1      False
6       85    100           1      False
7       85    100           1      False
8      115    100           1      False
9       64     43           1      False

In [3]:
print(df.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [5]:
#read a specific location with iloc
print(df.iloc[0])

#                     1
Name          Bulbasaur
Type 1            Grass
Type 2           Poison
HP                   45
Attack               49
Defense              49
Sp. Atk              65
Sp. Def              65
Speed                45
Generation            1
Legendary         False
Name: 0, dtype: object

In [10]:
#read a specific value based on a filter the loc keyword
print(df.loc[df["Type 2"] == "Dragon"])

       #                       Name    Type 1  Type 2   HP  Attack  Defense  \
7      6  CharizardMega Charizard X      Fire  Dragon   78     130      111
196  181      AmpharosMega Ampharos  Electric  Dragon   90      95      105
249  230                    Kingdra     Water  Dragon   75      95       95
275  254      SceptileMega Sceptile     Grass  Dragon   70     110       75
360  329                    Vibrava    Ground  Dragon   50      70       50
361  330                     Flygon    Ground  Dragon   80     100       80
540  483                     Dialga     Steel  Dragon  100     120      120
541  484                     Palkia     Water  Dragon   90     120      100
544  487      GiratinaAltered Forme     Ghost  Dragon  150     100      120
545  487       GiratinaOrigin Forme     Ghost  Dragon  150     120      100
694  633                      Deino      Dark  Dragon   52      65       50
695  634                   Zweilous      Dark  Dragon   72      85       70
696  635                  Hydreigon      Dark  Dragon   92     105       90
761  691                   Dragalge    Poison  Dragon   65      75       90
766  696                     Tyrunt      Rock  Dragon   58      89       77
767  697                  Tyrantrum      Rock  Dragon   82     121      119
790  714                     Noibat    Flying  Dragon   40      30       35
791  715                    Noivern    Flying  Dragon   85      70       80

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
7        130       85    100           1      False
196      165      110     45           2      False
249       95       95     85           2      False
275      145       85    145           3      False
360       50       50     70           3      False
361       80       80    100           3      False
540      150      100     90           4       True
541      150      120    100           4       True
544      100      120     90           4       True
545      120      100     90           4       True
694       45       50     38           5      False
695       65       70     58           5      False
696      125       90     98           5      False
761       97      123     44           6      False
766       45       45     48           6      False
767       69       59     71           6      False
790       45       40     55           6      False
791       97       80    123           6      False

## Sorting and describing data

In [12]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [20]:
df.sort_values(["Name", "Type 1"], ascending = [False, True])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

## Making chnages to the data

In [22]:
df["Totals"] = df["Attack"] + df["Defense"]
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Totals
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,98
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,125
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,165
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,223
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,95

In [24]:
#Deleting a column
df = df.drop(columns = ["Totals"])
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [26]:
df["Totals"] = df.iloc[:, 4:10].sum(axis = 1)
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Totals
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

## Saving the file after modification

In [30]:
#df.to_csv("modified.csv", index = False)
#df.to_excel("modified.xlsx", index = False)
df.to_csv("modified.txt", index = False, sep = " ")

## Data filtering

In [57]:
#df.loc[(df["Type 1"] == "Grass") & (df["Type 2"] == "Poison") & (df["Speed"] < 40)].to_csv("filterd_data.csv", index = False)
#df.loc[(df["Type 1"] == "Grass") | (df["Type 2"] == "Poison

#We can also use regular expresions 
#flags = re.I is for ignoring case sensitivity
import re
df.loc[df["Name"].str.contains('der|Aur', flags = re.I, regex = True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Totals
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
97,90,Shellder,Water,NaN,30,65,100,45,25,40,1,False,305
138,128,Tauros,Normal,NaN,75,100,95,40,70,110,1,False,490
730,662,Fletchinder,Fire,Flying,62,73,55,56,52,84,6,False,382
768,698,Amaura,Rock,Ice,77,59,50,67,63,46,6,False,362
769,699,Aurorus,Rock,Ice,123,77,72,99,92,58,6,False,521

## Filter with conditions

In [47]:
#~ means 'not'
df.loc[~df["Name"].str.contains("aur")]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Totals
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False,534
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False,634
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False,634
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

## Changing data on condition

In [62]:
#df.loc[df["Type 1"] == "Grass", "Type 1"] = "Not Grass"
#We can change multiple colum at the same time
df.loc[df["Type 1"] == "Not Grass", ["Generation", "Legendary"]] = [0, True]
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Totals
0,1,Bulbasaur,Not Grass,Poison,45,49,49,65,65,45,0,True,318
1,2,Ivysaur,Not Grass,Poison,60,62,63,80,80,60,0,True,405
2,3,Venusaur,Not Grass,Poison,80,82,83,100,100,80,0,True,525
3,3,VenusaurMega Venusaur,Not Grass,Poison,80,100,123,122,120,80,0,True,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

## Aggregate Statistics with (GroupBy) function

In [73]:
#df.groupby(["Type 1"]).mean().sort_values("Defense", ascending = False)
df.groupby(["Type 1"]).count().sort_values("Defense", ascending = False)

,#,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Totals
Type 1,,,,,,,,,,,,
Water,112,112,53,112,112,112,112,112,112,112,112,112
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Not Grass,70,70,37,70,70,70,70,70,70,70,70,70
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Fire,52,52,24,52,52,52,52,52,52,52,52,52
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Flying,4,4,2,4,4,4,4,4,4,4,4,4